.card{
    width:60vh;
    min-height: 45vh;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--clr--card-base);
    position: relative;
}

.card__heather{
    background-color: aliceblue;
    height: 3em;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.card__title{
    font-size: 1.3rem;
    color: var(--clr--dark);
    text-align: center;
}
.card__dropDown_btn{
    border: none;
    background-color: transparent;
    font-size: 1em;
    color: #b80f45;
    display: flex;
    gap: 10px;
}

.card__dropDown_btn svg:hover{
    cursor: pointer;
    opacity: 80%;
}

#in_progress_filter_btn{
    color: #e3703a;
}

#to_do_header{
    background-color: var(--clr--pink);
}

.icon__header{
    width: 20px;
    height: 20px;
}
#in_process_header{
    background-color: var(--clr--orange);
}

#Completed--container .card__heather{
    background-color: var(--clr--green);
}

#Completed--container .card__dropDown_btn{
    color: #068171;
}

.card__dropDown__cont{
    display: none;
    position: absolute;
    max-width: 70px;
    flex-direction: column;
    right: 0%;
    top: calc(45vh * 0.18);
    /* 18% */
    border-radius: 2px;
}

.card__dropDown__cont a{
    text-decoration: none;
    color: #ebeffe;
    padding: 5px;
    border-bottom: var(--clr--card-base) solid 1.5px;
}

#menu1{
    background-color: rgba(250, 51, 114, 0.8);
}
#menu2{
    background-color: rgba(255, 158, 113, 0.8);
}
#menu3{
    background-color: rgba(1, 191, 165, 0.8);
}

.single-task{
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 10px;
    background-color: var(--clr--card-task);
    margin-bottom: 5px;
    gap: 5px;
    border-radius: 10px;
    align-items: center;
}

#task-wrapper-to-do, #task-wrapper-in-progress{
    /* border: #b80f45 solid 1px; */
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 6px;
}

.icon__task{
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
}
.task_input_area{
    background-color: transparent;
    outline: none;
    border: none;
    flex-grow: 1;
}

.task-title{
    flex-grow: 1;
    color: var(--clr-light);
    font-weight: 300;
}

.btnContainer{
    display: flex;
    flex-direction: row;
    margin-left: auto;

}

.icon__task_btn{
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
}

.icon__task_btn:hover{
    cursor: pointer;
}

.addButtons{
    position: absolute;
    right: 0%;
    bottom: 0%;
    background-color: transparent;
    border: none;
    padding: 10px;

}

.addButtons:hover{
    cursor: pointer;
}

.task-wrapper{
    margin-bottom: 20px;
}

#task-wrapper-copmleted{
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 6px;
}

.group-tasks .icon__task_btn{
    padding: 5px;
    width: 25px;
    height: 25px;
    margin-right: 0.5em;
}

.drop-down-tasks{
    border: #2cd169 solid 1px;
    width: 90%;
    display: none;
}

.group-task-wrapper{
    /* border: #b80f45 solid 1px; */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5px;
    gap: 5px;
    border-radius: 10px;
    align-items: center;
}

.group-tasks{
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 10px;
    background-color: var(--clr--card-task);
    border-radius: 10px;
    align-items: center;
    /* border: blue solid 1px; */
}