
.headerbtn{
    width: 4rem;
    height: 2rem;
    color: var(--clr-light);
    text-decoration: none;
    
}

.headerbtn:hover{
    cursor: default;
}

.headerbtn:last-child > svg{
    float: right;
    width: 30px;
    height: 30px;
}


